{% extends 'base.html' %}
{% block base %}
    {%if title=='tj'%}
      <div class="layui-form-item">
              <label class="layui-form-label">接口信息</label>
              <input type="text" id="case" lay-verify="title" autocomplete="off" placeholder="用例名称（仅访问时无需填写）" class="layui-input" >
              <label class="layui-form-label">接口名称</label>
               <input type="text" id="name" lay-verify="title" autocomplete="off" placeholder="接口名称" class="layui-input" >
              <label class="layui-form-label">请求方式</label>
               <input type="text" id="md" lay-verify="required" placeholder="请求方式" autocomplete="off" class="layui-input">
              <label class="layui-form-label">接口地址</label>
                <input type="text" id="path" lay-verify="required" placeholder="接口地址" autocomplete="off" class="layui-input">
              <label class="layui-form-label">接口参数</label>
              <input type="text" id="data" lay-verify="required" placeholder="接口参数" autocomplete="off" class="layui-input">
              <label class="layui-form-label">请求头</label>
               <input type="text" id="harder" lay-verify="required" placeholder="请求头" autocomplete="off" class="layui-input">
              <label class="layui-form-label">检查点</label>
               <input type="text" id="jcd" lay-verify="title" autocomplete="off" placeholder="检查点" class="layui-input">
    </div>
          <div class="layui-input-block">
            <button class="layui-btn"  lay-filter="demo1" id="submit">保存用例</button>
            <button class="layui-btn layui-btn-primary" id="chick">访问接口</button>
          </div>
    {% elif title=='yt'%}
           <table id="demo" lay-filter="test"></table>
    {% endif%}
{% endblock %}